@font-face {
  font-family: 'Calisto-MT';
  src: url('../assets/fonts/Calisto_MT_Regular.ttf');
}

* {
  font-family: 'Calisto-MT';
  text-decoration: none;
  margin: 0;
  color: black;
}

/* Trick: */
body {
  min-height:100vh;
  margin:0;
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

header { 
  min-height:50px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.logo {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #c69f79;
  padding: 1rem;
  font-size: 16pt;
}

.navbar a {
  padding: 1rem;
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  background-color: #997c5f;
  text-decoration: none;
  color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: #844836;
  justify-content: right;
  padding: 1rem;
  color: white;
}

.page, .about-us, .social-media {
  padding: 1rem;
  color: white;
}

.page a, .about-us a {
  margin-bottom: 7px;
  color: white;
  font-size: 14pt;
  text-decoration: none;
}

.page a:hover, .about-us a:hover {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.page-text, .about-us-text, .social-media-text {
  margin-bottom: 10px;
}

.page-text h3, .about-us-text h3, .social-media-text h3 {
  color: white;
}

.social-media a:hover {
  opacity: 0.3;
}

@media(max-width: 1000px) {
  body {
    min-height:90vh;
    margin:0;
    position: relative;
  }
}

@media(max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
    background-color: #c69f79;
    padding: 0.05rem;
    font-size: 14pt;
  }

  .navbar .top, .navbar .bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar a .chat, .navbar a .profile {
    margin-top: 1rem;
  }

  .footer {
    display: flex;
    flex-direction: row;
    background-color: #844836;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    text-align: center;
  }
}