@font-face {
  font-family: 'Calisto-MT';
  src: url('../assets/fonts/Calisto_MT_Regular.ttf');
}

* {
  font-family: 'Calisto-MT';
  text-decoration: none;
  margin: 0px;
  color: black;
}

.content {
  margin: 2rem 20rem;
  padding: 0rem 5rem;
}

.title {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.content-title {
  font-size: 14pt;
  font-weight: bold;
}

.gender-content {
  margin-bottom: 1.5rem;
}

.gender-choose {
  display: flex;
  flex-direction: row;
}

.male {
  margin-right: 1rem;
}

.male label, .female label, .terms-and-conditions label {
  font-size: 13pt;
}

.male label:hover, .female label:hover, .terms-and-conditions label:hover {
  opacity: 0.7;
  cursor: pointer;
}

.dob-content, .username-content, .email-content, .password-content, .terms-and-conditions-content, .submit-button {
  margin-top: 1rem;
}

.name-content, .email-content, .password-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.first-name, .email, .password {
  width: 100%;
  margin-right: 20px;
}

.last-name, .confirm-email, .confirm-password {
  width: 100%;
}

input[type=text], input[type=date], input[type=password] {
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 13pt;
}

.submit-button {
  text-align: center;
}

.submit-button input {
  background-color: #f9cfa5;
  padding: 1rem 4rem;
  font-size: 14pt;
  border-radius: 1rem;
  border: none;
}

.submit-button input:hover {
  background-color: #c69f79;
  cursor: pointer;
}

@media(max-width: 1000px) {
  .content {
    margin: 0rem;
    padding: 2rem 2rem;
  }
}

@media(max-width: 500px) {
  .content {
    margin: 0rem;
    padding: 1rem 1rem;
  }

  .title h1 {
    font-size: 20pt;
  }

  .content-title {
    font-size: 10pt;
    font-weight: bold;
  }

  .male label, .female label, .terms-and-conditions label {
    font-size: 10pt;
  }

  input[type=text] {
    width: 100%;
    padding: 0.5rem 0.5rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10pt;
  }

  .submit-button input {
    background-color: #f9cfa5;
    padding: 0.5rem 2rem;
    font-size: 10pt;
    border-radius: 1rem;
    border: none;
  }
}